.main-suporte {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.faq-section details summary {
    background-color: #939c3f;
    border-bottom: 2px solid #05080a;;
    padding: 10px;
}

.faq-section {
    width: 60%;
}

.faq-section details summary p{
    background-color: #05080a;;
}